<mat-toolbar color="primary">
  Angular Material 2 App
</mat-toolbar>
<div class="basic-container">
  <app-sign-up></app-sign-up>
  <!--
  <div>
    <button mat-button>Basic Button</button>
    <mat-slide-toggle>Slide Toggle</mat-slide-toggle>
    <mat-checkbox>Checkbox</mat-checkbox>
  </div>
  <span class="version-info">Current build: {{version.full}}</span>
  -->
</div>

<!--
Copyright Google LLC All Rights Reserved.

Use of this source code is governed by an MIT-style license that can be
found in the LICENSE file at https://angular.io/license
-->